body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "proxima-nova-soft", sans-serif;
    -webkit-user-select: none;
    overflow: hidden;
}

body .vertical-centered-box {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

body .vertical-centered-box:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

body .vertical-centered-box .content {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 0;
}

body {
    background: #2c2d44;
}

.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
    margin-top: -60px;
}

.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    animation: rotate 1.2s infinite linear;
}

.loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

#particles-background,
#particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    transform: scale3d(0.5, 0.5, 1);
}

#particles-background {
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

/*内容布局*/
.content-layout {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main-layout {
    overflow: auto;
    height: 90vh;
}

/*滚动条整体样式,高宽分别对应横竖滚动条的尺寸*/
.main-layout::-webkit-scrollbar {
    width: 10px;
    height: 4px;
    background-color: #eee;
}

/*滚动条里面小方块*/
.main-layout::-webkit-scrollbar-thumb {
    background-color: #ffa012;
    background-image: -webkit-linear-gradient(90deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent);
    box-shadow: 0 0 5px 0 #636e72;
}

/*滚动条里面轨道*/
.main-layout::-webkit-scrollbar-track {
    background: #f8f8f8;
    box-shadow: inset 0 0 3px #e0c81b;
}

.sidebar,
.a-view {
    color: black;
    transition: color 1s;
}

.sidebar.active-flag {
    color: rgb(211, 210, 210);
}

.a-view.active-flag {
    color: #409eff;
}

li {
    padding-top: 6px;
}

.li-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
}

.no-child {
    color: rgba(211, 210, 210, 0.4);
}

.icon-web {
    margin-right: 5px;
    display: flex;
    width: 16px;
    height: 16px;
    background: url(./web.svg) no-repeat;
}

.icon-dir {
    margin-right: 5px;
    display: flex;
    width: 17px;
    height: 17px;
    background: url(./dir.svg) no-repeat;
}

.ul-content {
    max-height: 0px;
    transition: max-height 0.3s;
    overflow: hidden;
}

.ul-content.expand {
    max-height: fit-content;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ======= Toast message ======== */

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 13px 0;
    min-width: 290px;
    max-width: 290px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

